.App {
  text-align: center;
}

input {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}
